body {
    margin: 0;
    background-color: #1C1C1C;
    text-align: left;
    font-family: 'Inter', sans-serif;
}

h1,
h4 {
    margin: 0;
}

.container {
    background: #1F2937;
    max-width: 550px;
    width: 95%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    align-items: left;
    margin: 0 auto;
    text-align: left;
    padding: 100px 20px;
}

.title {
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.025em;
    color: #FFFFFF;
    font-family: 'Karla', sans-serif;    
}

.unique {
    color: #4ADF86;
    display: block;
}

.subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #D5D4D8;
    padding: 10px 0 51px;
}

.btn {
    font-weight: bolder;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 9px 17px 9px 15px;
    text-align: left;
    background: #10B981;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    border: none;
    margin-bottom: 35px;
}

.input-wrapper {
    border-top: 1px solid #2F3E53;
    padding-top: 35px;
}

.input {
    background: #273549;
    border-radius: 6px;
    border: none;
    margin-bottom: 10px;
    margin-right: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    color: #55F991;
    text-align: center;
    max-width: 212px;
    padding: 4px 16px 3px 15px;
}

@media screen and (min-width: 550px) {
    .container-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        min-height: 100vh;
    }
    .container {
        padding-left: 52px;
        padding-right: 0px;
    }
}
